.menu{
      width: 30%;
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      font-weight: 500;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      
      
}